//- kế thừa giao diện
extends ../layout/common.pug
block content

    //- 2. NỘI DUNG RIÊNG TỪNG BLOCK
    h3(class="text-center mt-2") USER_CREATE_PAGE

    .container
        .row.mt-2   
            div(class="col-3")

            //- FORM : SEARCH_REQUEST
            //- ACTION:
            //- METHOD: GET - đẩy data lên URL - BE lấy = "REQUEST.QUERY"
            form(class="col-6", action='/users/createRequest', method='POST')
                //- HIỂN THỊ KEYSEARCH - sau khi có kết quả = "value=keyNameSearch"
                .form-group
                    label(for='name') name:
                    input.form-control(type='text', id='name', name='name')
                    br
                
                .form-group
                    label(for='email') email:
                    input.form-control(type='text', id='email', name='email')
                    br

                .form-group
                    label(for='password') password:
                    input.form-control(type='text', id='password', name='password')
                    br

                div(class="d-grid gap-2")
                    button.btn.btn-primary.mt-2(type="submit") CREATE USER

