//- 

h1 USER_DETAIL
a(href='/') HomePage
br
a(href='/users/searchRequest') click - link USER_SEARCH
br

hr
ul 
    li
        span NAME: 
        b #{user.name}      
    li   
        span - EMAIL: 
        b #{user.email}