//- kế thừa giao diện
extends ../layout/common.pug
block content

    //- 
    h3(class="text-center mt-2") USER_DETAIL
    hr

    ul 
        li
            span NAME: 
            b #{user.name}      
        li   
            span - EMAIL: 
            b #{user.email}