//- 

h1 USER_LIST
a(href='/') HomePage
br
a(href='/users/searchRequest') click - link USER_SEARCH
br

hr

ul
    each user in userList
        li 
            span NAME: 
            b #{user.name}         
            span - EMAIL: 
            b #{user.email}
            a(href=`./user/detail/${user._id}`) VIEW_DETAIL
