html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous")
        //- link(href="styles/customStyle.css" rel="stylesheet")
        link(href="/styles/customStyle.css" rel="stylesheet")
        title TUANTRAN-NODEJS-SRR
    body 

        //- MENU
        nav.navbar.navbar-expand-lg.navbar-light.bg-light
            .container-fluid                
                //- CURRENT_USER + ĐĂNG NHẬP + ĐĂNG XUẤT
                if currentUserLocal
                    //- 
                    button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
                        span.navbar-toggler-icon
                    #navbarNav.collapse.navbar-collapse
                        ul.navbar-nav

                            //- HOME_PAGE
                            li.nav-item
                                a.nav-link.active(aria-current='page', href='/') 
                                    b 
                                        u HomePage
                                        
                                    
                            //- QUẢN LÝ - USERS
                            li.nav-item
                                a.nav-link(href='/users/index') 
                                    b 
                                        u UserList
                            li.nav-item
                                a.nav-link(href='/users/search') SearchUser
                            li.nav-item
                                a.nav-link(href='/users/create') CreateUser

                            //- TEST - MIDDLEWARE:
                            li.nav-item
                                a.nav-link(href='/testMiddleWare') 
                                    b 
                                        u testMiddleWare                 

                            //- TEST - GET SET COOKIES:
                            li.nav-item
                                a.nav-link(href='/testCookie/set') 
                                    b 
                                        u setCookie                 
                            li.nav-item
                                a.nav-link(href='/testCookie/get') getCookie
                                                     
                            //- PRODUCTS
                            li.nav-item
                                a.nav-link(href='/products/all') 
                                    b 
                                        u ProductList                 
                            li.nav-item
                                a.nav-link(href='/products/pagination?page=1') Pagination
                

                    //- 
                    a.navbar-brand.brandName(href='/') #{currentUserLocal.name}
                    img(src='/images/Logo_Hust_Vertical.png', class='logoCustomStyle')
                    a.nav-link.active.logOutText(aria-current='page', href='/auth/logout')
                        b Logout
                else
                    a.nav-link.active.loginText(aria-current='page', href='/auth/login')
                        b Login/Register


        //- SỬ DỤNG "BLOCK CONTENT" = thay đổi nội dung
        block content